#footer {
    background: transparent;
}
#page-header {
    background-color: rgb(0 0 0 / 0%);
}
.post-body h2:before,
.post-body h3:before,
.post-body h4:before,
.post-body h5:before,
.post-body h6:before {
    margin-right: 5px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}

.post-body h2:before {
    content: '🍦';
}

.post-body h3:before {
    content: '🌸';
}
.post-body h4:before {
    content: '⛄️';
}
.post-body h5:before {
    content: '🔥';
}
.post-body h6:before {
    content: '🌱';
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}